@{
    ViewData["Title"] = "Yönetici Paneli";
    Layout = "";
}
@model Estebizz.Models.ViewModels.BlogViewModel
<link href="~/css/bootstrap.css" rel="stylesheet" />
<style>
    td > a:hover {
        cursor: pointer;
    }
</style>
<div class="container">
    <div style="margin-top: 50px;">
        <form action="/yonetici-panel" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>İçeriğin Başlığı</label>
                <input type="text" class="form-control" name="title" placeholder="Başlık">
                <small class="form-text text-muted">Blog kısmında büyük şekilde görünecek olan yazıdır.</small>
            </div>
            <div class="form-group">
                <label>İçerik Yazısı</label>
                <textarea class="form-control" name="content" placeholder="İçerik"></textarea>
                <small class="form-text text-muted">Blog kısmında yayınlanacak yazının içeriğidir.</small>
            </div>
            <div class="form-group">
                <label>Fotoğraf</label>
                <input type="file" class="form-control-file" name="photo" accept=".jpg, .png, .jpeg">
                <small class="form-text text-muted">Blog kısmında yayınlanacak yazının fotoğrafıdır.</small>
            </div>
            <button type="submit" class="btn btn-primary">Yayınla</button>
        </form>
    </div>
</div>
<div class="container">
    <div stlye="margin-top: 50px">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Başlık</th>
                    <th scope="col">İçerik</th>
                    <th scope="col">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blog in Model.Blogs)
                {
                    <tr>
                        <td>@blog.Id</td>
                        <td>@blog.Title</td>
                        <td>@blog.Content.Substring(0, Math.Min(30, blog.Content.Length))...</td>
                        <td><a onclick="deleteBlog(@blog.Id)">❌</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script>
    let deleteBlog = (id) => {
        $.post(
            "yonetici-panel/blog-sil",
            { blogId: id },
            (data) => {
                if (data) {
                    alert("Başarı ile silindi.");
                    location.reload();
                }
                else {
                    alert("Bir şeyler ters gitti...");
                }
            }
        )
    }
</script>