@{
    ViewData["Title"] = "Giriş";
    Layout = "";
}
<link href="~/css/admin.css" rel="stylesheet" />
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/giris" method="post">
            <input type="email" placeholder="Email Adresi" name="email" />
            <input type="password" placeholder="Şifre" name="password" />
            <button>Giriş Yap</button>
        </form>
    </div>
</div>