@{
    ViewData["Title"] = "Giriş";
    Layout = "";
}
<link href="~/css/admin.css" rel="stylesheet" />
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="Kullanıcı Adı" />
            <input type="password" placeholder="Şifre" />
            <button>Giriş Yap</button>
        </form>
    </div>
</div>