@{
    ViewData["Title"] = "Hakkımızda";
}
<div class="container about-section">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="img-block">
                <img src="~/images/hakkimizda.jpg" alt="Estebizz Hakkımızda" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="text-block">
                <h2>Hakkımızda</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum justo vitae convallis varius. Nulla tristique risus ut justo pulvinar mattis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum justo vitae convallis varius. Nulla tristique risus ut justo pulvinar mattis.
                </p>
            </div>
        </div>
    </div>
</div>