@{
    ViewData["Title"] = "İletişim";
}
<div class="container contact-section">
    <div class="row">
        <div class="col-md-4">
            <div class="contact-info text-center">
                <p>📞</p>
                <h3>Bizi Ara</h3>
                <p><a href="tel:+905306911792">+90 530 691 17 92</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-info text-center">
                <p>✉️</p>
                <h3>Bize Mail At</h3>
                <p><a href="mailto:info@estebizz.com">info@estebizz.com</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-info text-center">
                <p>📍</p>
                <h3>Bizi Bul</h3>
                <p>Pendik Batı Mahallesi, Vişne Sokak No:22 / 2 Daire:1 Pendik / İstanbul</p>
            </div>
        </div>
    </div>
</div>