* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
.mainContainer {
    display: flex;
    flex-direction: column;
}
img {
    border: none;
    outline: none;
    height: auto;
    max-width: 100%
}
.nav-item {
    margin-left: 15px;
}
.nav-item > a {
    color: #777777;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.nav-item > a:hover {
    color: #7d3c92;
}
.whatsapp-button {
    color: #fff !important;
    background: #7d3c92;
    padding: 11px 30px;
    border-radius: 25px;
    border: 2px solid #7d3c92;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #7d3c92;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #7d3c92;
}
.our-services {
    padding: 110px 0px;
}
.section-title {
    width: 100%;
    float: left;
    height: auto;
    margin: 0 0 70px;
}
.section-title > h2 {
    position: relative;
}
.section-title > span {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    font-size: 16px;
    color: #929292;
    line-height: 28px;
    padding: 10px 0px;
}
.set-color {
    background-color: #7d3c92;
    border-color: #7d3c92;
    color: #fff;
}
.card-body > h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 20px;
    color: #333;
    position: relative;
}
.card-body > p {
    font-size: 14px;
    line-height: 28px;
    color: #929292;
    margin: 0 0 25px;
    opacity: .6;
}
.btn-appointment {
    border: none;
    text-align: center;
}