<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Estebizz</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="mainContainer">
        <header>
            <nav class="navbar navbar-expand-lg bg-white">
                <div class="container" style="align-items: baseline">
                    <a href="../Views/Home/Index.cshtml">
                        <img src="~/images/logo.png" alt="Estebizz Logo" width="250" />
                    </a>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a href="/blog" class="nav-link">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="/hakkimizda" class="nav-link">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a href="/iletisim" class="nav-link">İletişim</a>
                            </li>
                            <li class="nav-item btn-appointment">
                                <a class="nav-link whatsapp-button" href="https://web.whatsapp.com/send?phone=905306911792&amp;text=Merhabalar, yardımcı olabilir misiniz?">Whatsapp'tan Ulaşın</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            @RenderBody()
        </section>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <h3>Bize Ulaşın</h3>
                                <ul>
                                    <li><a href="https://instagram.com/estebizz">📸 Bize Instagram'dan ulaşın</a></li>
                                    <li><a href="https://youtube.com/estebizz">▶️ Bize Youtube'dan ulaşın</a></li>
                                </ul>
                            </div>
                        </div> 
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <h3>Çalışma Saatleri</h3>
                                <ul>
                                    <li>⏰ Pzt - Cum: 08.00 - 19.00</li>
                                    <li>⏰ Cmt & Pzr: 09.00 - 18.00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <h3>İletişim</h3>
                                <ul>
                                    <li><a href="tel:+905306911792">📞 +90 530 691 17 92</a></li>
                                    <li><a href="mailto:info@estebizz.com">✉️ info@estebizz.com</a></li>
                                    <li>
                                        🎯 Pendik Batı Mahallesi, Vişne Sokak No:22 / 2 Daire:1 Pendik / İstanbul
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
